<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
        <li>
            <a href='/images/0xce5cf24112ffc8483c40f32277a55bd67f211f2f'>Landscape</a>
        </li>
        <li>
            <a href='/images/0x1eb0c9073fd01476a85501e2f7dca95d6571be9c'>Fruits</a>
        </li>
    </ul>
  </body>
</html>
